.App{
    background-color: rgba(255, 255, 255, 0.3);
    text-align: right;
}
.wrapper{
    height:100%;
    width:100%;
    position:relative;
}

#wrap{
  width:100%;
  height:100%;
}
.bannerImage{
  width:100%;
  height:50px;
}
.bannerTopImage{
  width:100%;
  background-size:cover;
}
.siteNavigation_nav_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 0 #e6e6e6;  
  background-color: #e8eaeb;  
  padding-right:50px;

}
.clublogomain{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px 0px 10px 15px;
}

.main_links_nav{
  float: right;
}

@media only screen and (max-width: 500px) { 

  .siteNavigation_nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 #e6e6e6;  
    background-color: #e8eaeb;  
    
  }
  .clublogomain{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 10px 0px 50px 20px;
    margin-left: 5px;
  }
  .main_links_nav{
   margin: 20px 10px 10px 15px;
  }

  .bannerTopImage{
    width:100%;
    background-size:cover;
  }
}
.playerList_header{
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.mobile_register_link{
    margin: 5px;
    color: black;
    text-decoration: none;
    position: relative;
}
.mobile_login_link{
    margin: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
}
.image_login_link {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  
}
.nav_profile{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.playerList_home_page{
    position: relative;
}


@media (min-width: 1280px) { 
  .grid-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto auto !important;
    padding : 5px 10px 5px 10px;
    position: relative;
   
  }

}
.grid-container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding : 5px 10px 5px 10px;
    position: relative;
   
  }
  .grid-item {
    text-align: center;
    margin-top: 10px;
    margin-left: 7px;
    background-color: #f8e76e;
    background: #64cad8;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(70, 69, 69, 0.7);
    
  }
  .playerProfilePic_home_tile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
  }
  .playerPosition_home_tile{
    font-size: 15px;
    text-align: center;
    display: inline-block;
  }
  
.playerProfile_grid_border{
  width: 100%;
  margin: 5px 3px 5px 5px;
  color: #fcfcfc;
}
.playerSearch_Home{
  width: 230px !important;
  height:28px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #ededed;
  width: 100%;
  box-shadow: 0 5px 30px rgba(156,160,171,.25);
  border-radius: 2px;
}
.playerSearch_Home_Input{
  border: 0;
  outline: none;
}
.playerSearch_Icon{
  float: left;
  padding-left: 7px;
  padding-top: 5px;
}

.playerSearch_Home {
  width: 230px !important;
  height: 28px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #ededed;
  width: 100%;
  box-shadow: 0 5px 30px rgba(156,160,171,.25);
  border-radius: 2px;
}

@media only screen and (min-width: 1680px) { 

  .playerSearch_Home {
    width: 500px !important;
    height: 35px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border: 1px solid #ededed;
    width: 100%;
    box-shadow: 0 5px 30px rgba(156,160,171,.25);
    border-radius: 2px;
    padding-top: 5px;
    margin-top: 5px;
  }
  
 }

 .noSearchData{
  width: 12% !important;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

@media only screen and (max-width: 500px) { 
  .noSearchData{
    width: 70% !important;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
  }
  
}

.rec_name_position_data{
  width: 100%;
}
.phoneNumber_home{
  height: 25px;
  width: 25px;
  border-radius: 12px;
  margin:0 auto;
}

.phoneNumber_home img{
  height: 30px;
  width: 30px;
}
.tooltip_PhoneNumber_home{
  position: absolute;
  background-color: rgba(248, 231, 110);
  color: #1a1818;
  width:100px;
  height:25px;
  border-radius: 5px;
  z-index: 1;
  margin-bottom: 2px;
  margin-top: -50px;
  margin-left: 320px;
  -webkit-transition: opacity 75ms linear;
    -moz-transition: opacity 75ms linear;
    -ms-transition: opacity 75ms linear;
    transition: opacity 75ms linear;
}

@media only screen and (max-width: 500px) { 

  .tooltip_PhoneNumber_home{
    position: absolute;
    background-color: rgba(248, 231, 110);
    color: #1a1818;
    width:100px;
    height:25px;
    border-radius: 5px;
    z-index: 1;
    margin-bottom: 2px;
    margin-top: -5px;
    margin-left: 8px;
    -webkit-transition: opacity 75ms linear;
      -moz-transition: opacity 75ms linear;
      -ms-transition: opacity 75ms linear;
      transition: opacity 75ms linear;
  }
  
}

.deletePlayerButton{
  position: absolute;
  width: 18px;
  height:18px;
  margin-left: 238px;
  margin-top: 123px;
}

.deletePlayerimg{
  width: 18px;
  height:18px;
}

@media only screen and (max-width: 1920px) { 

  .deletePlayerButton{
    position: absolute;
    width: 18px;
    height:18px;
    margin-left: 215px;
    margin-top: 123px;
  }
  
}
@media only screen and (max-width: 400px) { 

  .deletePlayerButton{
    position: absolute;
    width: 15px;
    height:15px;
    margin-left: 38px;
    margin-top: 125px;
  }
  
}

.loader {
  display: flex;
  position: relative;
  margin-top: 50px;
  margin-left: 980px;
}

@media only screen and (max-width: 1920px) { 

  .loader {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: 890px;
  }
  
}
@media only screen and (max-width: 500px) { 

  .loader {
    display: flex;
    position: absolute;
    margin-left: 120px;
    margin-top: 50px;
  }
  
}

@media only screen and (max-width: 500px) { 

  .bubble {
    animation: expand .75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 10px;
    height: 10px;
  }

}


.bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 30px;
  height: 30px;
}

.bubble:nth-child(1) {
  background: #27ae60;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
  
}

.imagehoverPopup{
  background-color: rgb(158, 233, 243);
  width:100%;
  height:100%;
  border-radius: 5px;
  z-index: 100;
  -webkit-transition: opacity 75ms linear;
    -moz-transition: opacity 75ms linear;
    -ms-transition: opacity 75ms linear;
    transition: opacity 75ms linear;
}


